* {
  margin: 0;
  padding: 0;
}

.holder {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #023c6a;
}

.card {
  width: 250px;
  height: auto;
  padding: 20px 30px;
  border-radius: 10px;
  background: #fff;
}

h5 {
  margin: 18px 0;
  color: #333;
}

input {
  width: 94%;
  outline: 0;
  border: 0;
  padding: 15px 3%;
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  box-shadow: 0 0 4px rgb(194, 194, 194);
}

button {
  margin: 20px 0 0 0;
  width: 100%;
  padding: 15px 0;
  border-radius: 20px;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #3cc48f;
  color: #fff;
}

span {
  padding: 0 5px 0 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  float: left;
  font-size: 18px;
}

.padding-top {
  margin-top: 20px;
}
